<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2020,2022 University of Southampton.
   
    This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-2.0/
   
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
       University of Southampton - initial API and implementation
 -->

<plugin>

   <!--translators for records in machine and context-->
   <extension
         point="ac.soton.emf.translators">
      <translator
            adapter_class="ac.soton.emf.translator.eventb.adapter.EventBTranslatorAdapter"
            command_id="ac.soton.eventb.emf.record.generator.translateAllRecords"
            name="Machine Record Translator"
            root_source_class="Machine"
            source_package="http://emf.eventb.org/models/core/machine/2022"
            translator_id="ac.soton.eventb.emf.record.generator.machineRecordTranslator">
      </translator>
      <translator
            adapter_class="ac.soton.emf.translator.eventb.adapter.EventBTranslatorAdapter"
            command_id="ac.soton.eventb.emf.record.generator.translateAllRecords"
            name="Context Record Translator"
            root_source_class="Context"
            source_package="http://emf.eventb.org/models/core/context/2022"
            translator_id="ac.soton.eventb.emf.record.generator.contextRecordTranslator">
      </translator>
   </extension>
   <extension
         point="ac.soton.emf.translator.rulesets">
      <ruleset
            name="Machine Record Translator Ruleset"
            translator_id="ac.soton.eventb.emf.record.generator.machineRecordTranslator">
         <rule
               name="RecordRuleMachine"
               rule_class="ac.soton.eventb.emf.record.generator.rules.RecordRuleMachine"
               source_class="Record"
               source_package="http://soton.ac.uk/models/eventb/record/2022">
         </rule>
         <rule
               name="FieldRuleMachine"
               rule_class="ac.soton.eventb.emf.record.generator.rules.FieldRuleMachine"
               source_class="Field"
               source_package="http://soton.ac.uk/models/eventb/record/2022">
         </rule>
         <rule
               name="ConstraintRuleMachine"
               rule_class="ac.soton.eventb.emf.record.generator.rules.ConstraintRuleMachine"
               source_class="Constraint"
               source_package="http://soton.ac.uk/models/eventb/record/2022">
         </rule>
      </ruleset>
      <ruleset
            name="Context Record Translator Ruleset"
            translator_id="ac.soton.eventb.emf.record.generator.contextRecordTranslator">
         <rule
               name="RecordRuleContext"
               rule_class="ac.soton.eventb.emf.record.generator.rules.RecordRuleContext"
               source_class="Record"
               source_package="http://soton.ac.uk/models/eventb/record/2022">
         </rule>
         <rule
               name="FieldRuleContext"
               rule_class="ac.soton.eventb.emf.record.generator.rules.FieldRuleContext"
               source_class="Field"
               source_package="http://soton.ac.uk/models/eventb/record/2022">
         </rule>
         <rule
               name="ConstraintRuleContext"
               rule_class="ac.soton.eventb.emf.record.generator.rules.ConstraintRuleContext"
               source_class="Constraint"
               source_package="http://soton.ac.uk/models/eventb/record/2022">
         </rule>
      </ruleset>
   </extension>

</plugin>
